numpy 
langchain_community
wikipedia
youtube_search
dotenv
langgraph
langchain_google_genai
langchain_huggingface
sentence-transformers
chromadb
langchain_openai
pydantic
langchain_output_parser
langchain-chromadb
langchain_groq
